<h1>FAQ</h1>
<h4>Häufig gestellte Fragen</h4>

<br /><br />

<b>1. Allgemeines<b>
<hr>
RisingGuilds ist ein Managment- und Ratingsystem für WorldOfWarcraft-Gilden. Entwickelt wurde es um die Verwaltung von Gilden (speziell auf dem PrivateServer-Projekt <a href="http://www.rising-gods.de">Rising-Gods</a>) einfacher zu machen. Das gesamte Projekt wird von Hobbyprogrammierern aus der RG-Community erstellt und betreut.
