<h1>Hilfe</h1> 

<p id="flash" class="info">Wir sind gerade dabei eine ausführliche FAQ-Sammlung und Dokumentation anzulegen. Solltest du Fragen oder Ideen haben schreib uns bitte ein <a href="mailto:risingguilds@dreamblaze.net">Mail</a> oder erstell einen <a href="http://code.dreamblaze.net">Beitrag</a> in unserem Forum.<br />
Wir zählen auf deine Hilfe!</p>

<p>Hier findet ihr eine kleine Linksammlung die euch Antworten auf alle offenen Fragen über RisingGuilds geben sollten. Am besten ihr schaut zuerst die FAQ durch. Solltet ihr dort Nichts finden schaut bei technischen Fragen in den Tracker. Bei allgemeinen Dingen solltet ihr im Forum mehr Erfolg haben. Wenn wirklich Nichts zu finden ist erstellt einfach einen Thread oder ein Ticket, keine Scheu wir beißen nicht.</p>

<a href="http://code.dreamblaze.net/projects/risingguilds/boards">Forum</a> |
<a href="http://code.dreamblaze.net/projects/risingguilds/issues">Bug-Tracker</a> |
<a href="mailto:risingguilds@dreamblaze.net">Kontakt</a>
