<table>
  <thead>
	<tr>
		<th>Name</th>
		<th>Members</th>
		<th>Website</th>
	</tr>
	</thead>
	<tbody>
	<% @guilds.each do |guild| %>
	<tr>
		<td><%= link_to h(guild.name), guild_path(guild) %></td>
		<td><%= guild.characters.count %></td>
		<td><%= link_to guild.website, guild.website %></td>
	</tr>	
	<% end %>
  </tbody>
</table>
<%= will_paginate @guilds%>