.guildlogo {
	float: left;
	margin-right: 20px;
	border: 1px solid #DDD;
}

.guildname {
	margin-top: 5px;
	font-size: 18pt;
}

/* --- show --- */



#guildinfos {

}

#description {
	padding: 5px;
	margin: 10px;
	position: relative;
	border: 1px solid #999;
	background-color: #EEE;
}

.boxtext {
	position:absolute;
	top: -20px;
	left: 10px;
	border: 1px solid #999;
	background-color: #EEE;
	padding: 0px 5px 0px 5px;
}

#secret {
	position: absolute;
	bottom: 0;
	right: 0;
	margin:5px;
	font-size: 8pt;
}

/* ---- index --- */
.guild {
	height: 100px;
	position: relative;
	margin-bottom:10px;
}

.guilddetails {
	text-align:left;
	height: 100px;
	margin-left: 105px;
}

.adminmenu {
	position: absolute;
	top: 5px;
	right: 5px;
}

.description {
	margin-top:5px;
	max-width:100% ;
	height: auto;
	overflow: hidden;
	background-color: #EEE;
}
