.guildlogo {
	float: left;
	margin-right: 20px;
}


/* --- show --- */

.guildname {
	font-size: 18pt;
}

#guildinfos {

}

#description {
	padding: 5px;
	margin: 10px;
	position: relative;
	border: 1px solid #999;
	background-color: #EEE;
}

.boxtext {
	position:absolute;
	top: -20px;
	left: 10px;
	border: 1px solid #999;
	background-color: #EEE;
	padding: 0px 5px 0px 5px;
}

#secret {
	position: absolute;
	bottom: 0;
	right: 0;
	margin:5px;
	font-size: 8pt;
}

/* ---- index --- */
.guild {
	height: 100px;
	position: relative;
}

.adminmenu {
	position: absolute;
	top: 0;
	right: 0;
}

.description {
	margin-top:5px;
	max-width:100% ;
	height: auto;
	overflow: hidden;
	background-color: #DDD;
}

h2.guildname {
	font-family: verdana, arial, helvetica, sans-serif !important;
	font-size: 18pt;
	font-weight: normal;
	text-align: left;
	margin-bottom: 0px;
}
