.guildlogo {
	float: left;
	margin-right: 10px;
}

.guildname {
	margin-top: 10px;
	font-size: 18pt;
	margin-bottom: 10px;
}

/* --- show --- */

#guild_switcher {
	position: absolute;
	right:10px;
	top:0px;
}

#guildinfos {

}

#description {
	background-color: #666;
	padding: 5px;
	border: 2px solid #333;
	color: #FFF;
	overflow: hidden;
}

#secret {
	position: absolute;
	bottom: 0;
	right: 0;
	margin:5px;
	font-size: 8pt;
}

/* ---- index --- */
.guild {
	height: 100px;
	position: relative;
	margin-bottom:10px;
}

.guilddetails {
	text-align:left;
	height: 100px;
	margin-left: 105px;
}

.adminmenu {
	position: absolute;
	top: 5px;
	right: 5px;
}

.description {
	margin-top:5px;
	max-width:100% ;
	height: auto;
	overflow: hidden;
	border: 2px solid #575656;
	background-color: #bbbaba;
}
