.guildlogo {
	float: left;
	margin-right: 10px;
}

.guildname {
	margin-top: 10px;
	font-size: 18pt;
	margin-bottom: 10px;
}  

.guilddetails {
	text-align:left;
	height: 100px;
	margin-left: 105px;
}   

/* ---- index --- */
.guild {
	height: 100px;
	margin-bottom:10px;
	border: 1px solid #999;
	padding: 10px;
}

.guild .logo {
	float:left;
	margin-right: 10px;
}

.guild .name {
	font-size: 14pt;
	border-bottom: 1px solid #555;
	margin-left: 110px;
	margin-bottom: 5px;
}

.guild .website {
	float: right;
}

.guild .description {
	margin-top:5px;
	margin-bottom:20px;
	max-width:100% ;
	height: auto;
	overflow: hidden;
	border: 2px solid #575656;
	background-color: #bbbaba;
}

#filter_form {
	margin-bottom: 20px;
}

/* --- show --- */

#guild_switcher {
	position: absolute;
	right:10px;
	top:0px;
}

#guildinfos {

}

#description {
	background-color: #666;
	padding: 5px;
	border: 2px solid #333;
	color: #FFF;
	overflow: hidden;
}

#secret {
	position: absolute;
	bottom: 0;
	right: 0;
	margin:5px;
	font-size: 8pt;
}

#guild_header #website img {
        vertical-align: middle;
}

#guild_header #teamspeak img {
        vertical-align: middle;
}

/* news */

.newsentry p {
	margin-bottom:5px;
}

.news_author {
	position: relative;
	float:right;
}

.news_time{
	position: relative;
	float:left;
}

.news_menu {
	position: absolute;
	right:2px;
	top:2px;
	width:16px;
}

.news_footer {
	width: 100%;
	margin-top:10px;
	font-size: 8pt;
}
