ul#navbar {
background: white;
margin: 0;
border: 1px solid black;
list-style-type: none;
height: 31px;
}

ul#navbar li {
float: left;
}

ul#navbar li a {
display: block;
padding: 5px 15px 4px;
text-decoration: none;
color: black;
letter-spacing: -0.1em;
}

ul#navbar li a:hover {
color: white;
}

ul#navbar li a#current {
background: #EEE;
color: #98CB00;
}

div#mainnav {
	margin-bottom: 10px;
}

li#spacer {
	padding-left: 20px;
}

/* begin css tabs - thanks to & copyright by Joshua Kaufman */

ul#tabs { /* general settings */
text-align: left; /* set to left, right or center */
margin-bottom:-1px; /* set margins as desired */
border-bottom: 1px solid #000; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabs li { /* do not change */
display: inline;
}

body#tabs li.tab { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

body#tabs li.tab a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabs li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #000; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #FFF; /* set unselected tab background color as desired */
color: #000; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabs a:hover { /* settings for hover effect */
background: #CCC; /* set desired hover color */
}

/* end css tabs */

div#footer {
background-color: white;
text-align: right;
border: black solid 1px;
padding: inherit;
}

div#footer div p {
margin: 5px;
}

div#legal {
clear: both;
margin: 10px;
}

div#header {
background-color: white;
text-align: left;
border: black solid 1px;
height: 100px;
margin-bottom:10px;
}

div#usermenu {
float: right;
margin: 5px;
}

div#title {
float: left;
width: 400px;
font-size: 25pt;
font-weight: bold;
padding-top: 20px;
}

div#content {
background-color: white;
text-align: left;
border: black solid 1px;
margin-bottom: 5px;
padding: 10px;
min-height: 400px;
position:relative;
}

div#center {
width: 960px;
min-height: 400px;
}

div#container {
width: 960px;
margin: auto;
}

.clear {
	float: none;
	clear: both;
	height: 0px;
}
