div#ketten {
	margin:0px auto;
	background:url(../images/ketten.png);
	width:1008px;
	height:205px;
	margin-top:-15px;
	margin-bottom: 10px;
}

ul#navbar {
background:url(../images/nav_normal.png);
margin: 0px auto;
list-style-type: none;
width:983px;
height:79px;
margin-top:-158px;
margin-bottom:70px;
}

ul#navbar li {
font-size:18px;
float: left;
margin-left:4px;
}

ul#navbar li a {
vertical-align:middle;
padding: 50px 30px 0px;
text-decoration: none;
color:#5a5a5a;
}

ul#navbar li a:hover {
padding-top:5px;
padding-bottom:60px;
color: white;
}

ul#navbar li a:active {
padding-top:5px;
padding-bottom:60px;
color:#FFF;
}

ul#navbar li a#current {
background: #EEE;
color: #98CB00;
}

div#mainnav {
	margin-bottom: 10px;
}

li#spacer {
	padding-left: 20px;
}

/* begin css tabs - thanks to & copyright by Joshua Kaufman */

ul#tabs { /* general settings */
text-align: left; /* set to left, right or center */
margin-bottom:-1px; /* set margins as desired */
border-bottom: 1px solid #000; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabs li { /* do not change */
display: inline;
}

body#tabs li.tab { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

body#tabs li.tab a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabs li a { /* settings for all tab links */
padding: 4px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #000; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #666666; /* set unselected tab background color as desired */
color: #000; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabs a:hover { /* settings for hover effect */
background: #CCC; /* set desired hover color */
}

/* end css tabs */

div#footer {
text-align: center;
color:#4a8b9e;
}

div#footer div p {
margin: 5px;
}

div#legal {
clear: both;
margin: 10px;
}

div#header {
background:url(../images/header.png);
text-align: left;
height:174px;
width:1068px;
}

div#title {
background:url(../images/logo.png) no-repeat;
width:510px;
height:99px;
margin-top:20px;
margin-left:30px;
float: left;
}

div#usermenu {
float: right;
margin: 10px;
font-size:16px;
}

div#content {
background-color:#171717;
text-align:center;
border: black solid 1px;
margin-bottom: 10px;
padding: 10px;
min-height: 400px;
}

div#center {
width:1068px;
min-height: 400px;
}

div#container {
width: 1068px;
margin: auto;
}

.clear {
	float: none;
	clear: both;
	height: 0px;
}

#heading {
	margin-top:20px;
	margin-bottom:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}

#twitter {
	text-align: center;
	width: 100%;
	margin-bottom:20px;
}

.twtr-doc {
	margin:auto;
}