ul#navbar {
background: white;
margin: 0;
border: 1px solid black;
list-style-type: none;
height: 31px;
}

ul#navbar li {
float: left;
}

ul#navbar li a {
display: block;
padding: 5px 15px 4px;
text-decoration: none;
color: black;
letter-spacing: -0.1em;
}

ul#navbar li a:hover {
color: white;
}

ul#navbar li a#current {
background: #EEE;
color: #98CB00;
}

ul#tabs {
list-style-type: none;
margin: 0;
padding: 0;
width: 60px;
}

ul#tabs li {
height: 60px;
width: 60px;
border: 1px solid black;
background: white;
margin-bottom: 2px;
}

div#secnav {
margin-top: 10px;
margin-right:1px;
position: relative;
float: left;
}

div#footer {
background-color: white;
text-align: right;
border: black solid 1px;
padding: inherit;
}

div#footer div p {
margin: 5px;
}

div#legal {
clear: both;
margin: 10px;
}

div#header {
background-color: white;
text-align: left;
border: black solid 1px;
height: 100px;
}

div#usermenu {
float: right;
}

div#title {
float: left;
width: 400px;
font-size: 25pt;
font-weight: bold;
padding-top: 20px;
}

div#content {
background-color: white;
text-align: left;
border: black solid 1px;
margin-bottom: 5px;
padding: inherit;
width: 897px;
min-height: 400px;
float: left;
}

div#center {
width: 960px;
min-height: 400px;
}

div#container {
width: 960px;
margin: auto;
}
