/* ---- Error/Flash Fields ---- */

.fieldWithErrors {
	color: #E00;
}

.fieldWithErrors input {
	border: 2px solid #E00;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
}

#errorExplanation h2 {
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #DDD;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#flash {
	padding: 10px;
	margin-bottom: 0px;
}

.error {
	color: red;
	border: 1px red solid;
	background-color: #FDD;
}

.notice{
	color: green;
	border: 1px green solid;
	background-color: #DFD;
}

.info {
	padding: 5px;
	margin: 20px 5px;
	border: 1px solid #990;
	background-color: #330;
	font-weight: bold;
}

div.dialog {
	width: 25em;
	padding: 0 4em;
	margin: 4em auto 0 auto;
	border: 1px solid #ccc;
	border-right-color: #999;
	border-bottom-color: #999;
}

/* ---- Progress Bar ---- */

div.bar-container {
  /*border: 1px solid #ccc;*/ 
  width: 100px; 
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  /*float: left;*/ 
  background: #777;
  line-height: 14px;
}

div.bar-container > div {
  background-color: #16b; 
  /*height: 16px;*/
  text-align: center;
}

/* ---- Tooltips ---- */
div.tooltip {
	display:none;
  padding: 5px;
  margin: 5px;
  background-color: #111;
  color: #FFF;
  border: 1px solid #666;
}

/* ---- Twitter Widget ---- */
#twitter {
	text-align: center;
	width: 100%;
	margin-bottom:20px;
}

.twtr-doc {
	margin:auto;
}

/* ---- AutoComplete ---- */
div.auto_complete {
	width: 350px;
	background: #111;
	color: #fff;
}
div.auto_complete ul {
	border:1px solid #666;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.auto_complete ul li {
	margin:0;
	padding:3px;
}
div.auto_complete ul li.selected {
	background-color: #333;
}
div.auto_complete ul strong.highlight {
	color: #eee; 
	margin:0;
	padding:0;
}

/* ---- verify guild warning ---- */
div#verify_guild {
	float: right;
	position:relative;
	top: -78px;
	right: -2px;
	padding: 5px;
	border: 2px solid #900;
	background-color: #511;
}

#verify_guild p {
	margin: 0px;
	font: 9pt "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#verify_guild a {
	color:#FFF;
}

/* ---- DIV ---- */
.nomargin {
	margin: 0;
}