/* 
    Document   : raid
    Created on : 02.06.2010, 15:01:25
    Author     : Frederik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.contentHeader {
    color:#308D99;
    font-weight:bolder;
    padding:10px;
    text-align:left;
}

.left {
    text-align:left;
	padding: 0.25em 0.5em 0.25em 16px;
}

.right {
    text-align:right;
	padding: 0.25em 0.5em 0.25em 16px;
}

/* ---- Calendar ---- */
#calendar table {  
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #07121d;
  color: #777;
  border:2px solid #000000;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  background: #323232;
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #122940;
  color: #FFF
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

#raidicon {
  position: absolute;
  right: 5px;
  top: 5px;
}
