body { 
  background-color: #bbf;
  color: #333;
  text-align: center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration:none;}
a:visited { color: #666; }
a:hover { color: #fff; background-color:#444; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#page {
    max-width: 800px;
    margin: auto;
    padding: 5px 15px 5px 15px;
}
#header {
    background-color:white;
    text-align:left;
    border:black solid 1px;
    margin-bottom: 5px;
    height: 60px;
    padding: inherit;
}

#navigation {
    background-color:white;
    border:black solid 1px;
    margin-bottom: 5px;
    padding: inherit;
}

#content {
    background-color:white;
    text-align:left;
    border:black solid 1px;
    margin-bottom: 5px;
    padding: inherit;
}

#fooder {
    background-color:white;
    text-align:right;
    border:black solid 1px;
    padding: inherit;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#error {
	color: red;
	border: 1px red solid;
	background-color: #FDD;
	padding: 10px;
}

#notice{
	color: green;
	border: 1px green solid;
	background-color: #DFD;
	padding: 10px;
}
