div#navbar ul li {
	font: bold 1em Arial;
}

ul#tabs {
	font: 11px verdana, arial, sans-serif;
	margin-top:-20px;
}

p {
	font: .8em/1.4em verdana, arial, sans-serif;
	margin: .2em 0;
}

p#headlineText {
	font: .9em/1.4em Georgia;
	
}

div#legal p {
	text-align:center;
	font: bold .7em Arial;
}

h1 {
	font: bold 1.5em Helvetica;
	margin: .2em 0;
}

a { color: #1162b7; text-decoration: none; }
a:hover { color: #fff; }

h2 { 
	font: bold 1.3em Helvetica;
	margin: .2em 0;
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
margin-bottom: 20px;
}

ul {
	list-style-type: square;
	margin-left: 0px;
	padding-left: 15px;
}

li {
	padding: 1px;
}

.disabled {
	color: #777;
}
