<div id="add_character_form">
<%= form_for :character, :url => user_path(current_user) + "/add_character", :remote => true do |f| %>
	Please enter your character's name and hit save.
  <%= f.text_field :name, :onkeydown => "if (event.keyCode == 13) $('.ui-button').click()" %>
	<%= f.submit(:id => "add_char_submit")%>
<% end %>
</div>