<table>
	<thead>
	<tr>
		<th>Login</th>
		<th>Last Login</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="3">Managers</th>
		</tr>
		<%= render :partial => 'user', :collection => @guild.managers, :as => :user, :locals => {:guild => @guild}%>
	</tbody>
	<tbody>
		<tr>
			<th colspan="3">Members</th>
		</tr>
		<%= render :partial => 'user', :collection => @guild.members, :as => :user, :locals => {:guild => @guild}%>
	</tbody>
</table>