<% @users.each do |user| %>
<div class="user">
  <div class="adminmenu">  
	<% permitted_to? :edit, user do %>
	<%= link_to image_tag("icons/page_edit.png", :alt => "edt", :size => "16x16"), edit_user_path(guild) %>
	<% end %>
	<% permitted_to? :destroy, user do %>
	<%= link_to image_tag("icons/delete.png", :alt => "del", :size => "16x16"), :method => :delete %>
	<% end %>
  </div>
  <span class="username"><%= link_to user.login, user_path(user) %></span>
</div>
<% end %>
