<div class="event"><%= link_to event.character.name, :controller => 'characters', :action => 'show', :id => event.character.id if event.character %> <%= t("events.actiontexts.#{event.action}", :content => event.content) %> (<%=h time_ago_in_words(event.created_at) %> ago)</div>
