<% content_for :tabs do %>
<% if tabs.is_a? Array then %>
<!-- Tabs Div -->
<div id="secnav">
	<ul>
	<% tabs.each do |tab| %>
		<% unless tab.empty? %>
		<%= "<li>#{tab.html_safe}</li>".html_safe %>
		<% else %>
		<%= "<li class=\"spacer\">&nbsp;</li>".html_safe %>
		<% end %>
	<% end %>
	</ul>
</div>
<!-- End Tabs Div -->
<% end %>
<% end %>