<% content_for :tabs do %>
<% if tabs.is_a? Array then %>
<!-- Tabs Div -->
<div id="secnav">
	<ul>
	<% tabs.each do |tab| %>
		<% unless tab.empty? %>
		<%= "<li>#{tab}</li>" %>
		<% else %>
		<%= "<li id=\"spacer\">&nbsp;</li>" %>
		<% end %>
	<% end %>
	</ul>
</div>
<!-- End Tabs Div -->
<% end %>
<% end %>