<div id="heading">
<h1>Wellcome to Rising-Guilds</h1>
<div id="twitter">
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 10,
  interval: 6000,
  width: 500,
  height: 300,
  theme: {
    shell: {
      background: '#555',
      color: '#fff'
    },
    tweets: {
      background: '#EEE',
      color: '#000',
      links: '#220'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('risingguilds').start();
</script>
</div>