 <div>
    <%= render :partial => 'characters_code', :locals => {:guild_id => params[:guild_id]} %>
		<br />
		<button id="characters" onClick="show_code('#characters_code')">Code</button>
  	<div id="characters_code" style="display: none;">
			<pre class="code">
  			<code class="html">
<%= CGI::escapeHTML(render :partial => 'characters_code', :locals => {:guild_id => params[:guild_id]}) %>
  			</code>
  		</pre>
		</div>
 </div>
