<div>
	<div id="guildwidget" style="float:left; border: 1px solid #666; padding:5px;">
   <script>
     function show_code(code) {
  	          $(code).slideToggle('slow');
		};
     function guild_callback(obj){
       var guild = obj.guild;
       var out = "";
			 out += '<div style="background-image:<%= root_url %>images/' + guild.logo_url + ';width:190px;">';
			 out += "<h2>" + guild.name + "</h2>";
			 out += '</div>'; 
       document.getElementById('guildwidget').innerHTML = out;
     }
   </script>
   <script type="text/javascript" src="/guilds/<%= params[:guild_id] %>.json?callback=guild_callback"></script>
 </div>
	<br />
	<button id="guilds" onClick="show_code('guild_code')">Code</a>
  <div id="guild_code" style="display: none;">
	<pre class="code">
        <code class="javascript">
        </code>
        </pre>
	</div>
</div>
