<div>
	<%= render :partial => 'guild_code', :locals => {:guild_id => params[:guild_id]} %>
	<div style="margin-left:275px">
		<button id="guilds" onClick="show_code('#guild_code')">Code</button>
		<div id="guild_code" style="display: none;">
			<pre class="code">
				<code class="html">
<%= CGI::escapeHTML(render :partial => 'guild_code', :locals => {:guild_id => params[:guild_id]}) %>	
	  		</code>
			</pre>
		</div>
	</div>
</div>
