<%= render :partial => 'whoisonline_code', :locals => {:guild_id => params[:guild_id]}%>
<div style="margin-left:210px">
	<button id="wio" onClick="show_code('#wio_code')">Code</button> 
	<div id="wio_code" style="display: none;">
	<pre class="code">
  	<code class="html">
<%= CGI::escapeHTML(render :partial => 'whoisonline_code', :locals => {:guild_id => params[:guild_id]}) %>
		</code>
	</pre>
	</div>
</div>
