<div id="events">
	<% if events.empty? then %>
	no events available
	<% else %>
	<%= render :partial => 'shared/event', :collection => events %>
	<% #= will_paginate events, :class => 'pagination ajax' %>
	<% end %>
</div>
