<h1>Help</h1> 

<p id="flash" class="info">At the moment we are creating a detailed documentation and FAQ. If you have questions or ideas write a <a href="mailto:risingguilds@dreamblaze.net">mail</a> or create a <a href="http://code.dreamblaze.net">forum thread</a>.<br />
Wir zählen auf deine Hilfe!</p>

<p>Here are some links to answer your questions about RisingGuilds. Feel free to contact us if you still have questions/problems.</p>

<a href="http://code.dreamblaze.net/projects/risingguilds/boards">Forum</a> |
<a href="http://code.dreamblaze.net/projects/risingguilds/issues">Bug-Tracker</a> |
<a href="mailto:risingguilds@dreamblaze.net">Contact</a>
